/*ICONS*/
/*GOOGLE ICONS*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
/* FONTS */
/* GOOGLE FONTS */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* AJUSTES GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

a:link,a:visited{
    text-decoration: none;
    color: currentColor;
}

/* HEADER */
header {
    position: sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

header nav{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

header nav a:hover{
    transform: scale(1.09);
}

/* MAIN */
section.intro {
    background-image: linear-gradient(rgb(37, 37, 37), rgb(34, 34, 34));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 150px;
}

section.intro img {
    margin: 20px;
    border-radius: 10px;
}

section.intro article {
    color: whitesmoke;
    text-align: left;
}

section.intro article h1 {
    font-size: 170px;
    text-align: left;
}

section.intro article h3 {
    margin-top: -20px;
    font-size: 40px;
    margin-left: 5px;
}

nav.busqueda {
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

nav.busqueda div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav.busqueda div.buscar {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 5px;
}

nav.busqueda div.buscar input {
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
    color: grey;
}

nav.busqueda div.buscar input:focus {
    outline: none;
}

nav.busqueda div.buscar input::placeholder {
    font-family: 'Roboto';
    padding: 5px;
}

nav.busqueda div.buscar span {
    color: grey;
    cursor: pointer;
}

/* CUADROS */
.main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0 25px;
}

main section[class^="columna"]{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    border-radius: 10px;
    width: 320px;
    height: fit-content;
}

.imagenes {
    display: flex;
    justify-content: center;
    width: 320px;
}

.imagenes img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
    
.box .informacion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.box .informacion #precio {
    font-size: 25px;
    font-weight: lighter;
}

.box .informacion #titulo {
    font-size: 20px;
}
/* ========= FOOTER ========= */
footer {
    margin-top: 25px;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(rgb(37, 37, 37), rgb(34, 34, 34));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

footer .redes {
    display: flex;
    gap: 22px;
}

footer .autor {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

footer .autor .nombre {
    font-family: 'Poppins';
    color: rgb(160, 154, 154);
    font-size: 25px;
}

footer .autor .nombre h5 span:hover {
    transform: 0.3s;
    cursor: pointer;
    color: rgb(250, 206, 30);
}

footer .redes a svg:hover,
footer .autor .github a svg:hover {
    transition: 0.3s;
    stroke: rgb(250, 206, 30);
    transform: scale(1.2);
}